<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.dilip_pashi.letsgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TravelActivity" />
        <activity android:name=".AddTravelActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".EditTravelActivity" />
        <activity android:name=".AddDiaryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Google_Place_API" />

        <activity android:name=".DiaryDetailsActivity" />
        <service
            android:name=".NotificationGenie">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>